{% extends 'base.html' %}

{% block style %}
<style>
    #showcase{
    background-image:url('http://traversymedia.com/downloads/assets/beachshowcase.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}
</style>
{% endblock %}

{% block title %}Movies App{% endblock %}

{% block content %}
<div id="showcase">
    <h2>The app to search more than movie titles</h2>
    <a href="/movies">Take me there!</a>
</div>


{% endblock %}

