{% extends 'base.html' %}


{% block title %}Movies App{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<div class="container mt-4">
    <form method="POST">
        <div class="row align-items-end">
            <div class="col-md-4">
                <label for="inputSearch">Search by...</label>
                <select id="inputSearch" class="form-select" name="searchField">
                    <option selected>Choose...</option>
                    <option value="movieName">Movie name</option>
                    <option value="cast">Actor/Actress</option>
                    <option value="director">Director</option>
                    <option value="year">Year</option>
                </select>
                <label for="searchValue" class="form-label">Value</label>
                <input type="text" class="form-control" id="searchValue" name="searchValue">
                <div class="col mt-4">
                    <button class="btn btn-secondary" type="submit">Search</button>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <label for="movieYear">Year</label>
                <input type="number" class="form-control" id="movieYearFrom" name="yearFrom" placeholder="From">
            </div>
            <div class="col-md-2 mt-3">
                <input type="number" class="form-control" id="movieYearTo" name="yearTo" placeholder="To">
            </div>
            <div class="col-md-4">
                <label for="directorName">Director</label>
                <input type="text" class="form-control" id="directorName" name="director">
            </div> -->
            
        </div>
        <!-- <div class="row align-items-end">
            <div class="col-md-4">
                <label for="movieCast">Cast</label>
                <input type="text" class="form-control" id="movieCast" name="cast">
            </div>
            <div class="col-md-2">
                <label for="movieRating">Rating</label>
                <input type="number" min="0" max="10" step="0.1" class="form-control" id="movieRating" name="rating">
            </div>
            <div class="col mt-4">
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </div> -->
    </form>
    <hr>
    <div class="mt-3">
        {% for movie in movies %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ movie[1] }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ movie[2] }}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="{{url_for('static', filename='js/index.js')}}"></script>


{% endblock %}